/**
 * Facet container
 */

.ola-facet-list{
  a, .ola-checkbox-label{
    display: flex;
    clear: both;
    font-size: 14px;
    padding: 3px 0;
    cursor: pointer;
    align-items: center;
    font-weight: 400;
    margin: 0;
  }
}

.ola-search-facet-count {
  line-height: 1;
  border-radius: 3px;
  line-height: 20px;
  display: inline-block;
  min-width: 20px;
  text-align: center;
  &:before {
    content: "(";
    padding-left: 5px;
  }
  &:after {
    content: ")"
  }

  .ola-module & {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/**
 * Checkbox
 */

.ola-checkbox-label{
  input {
    margin: 0 5px 0 0;
    float: none;
  }
  .ola-search-facet-name{
      flex: 1;
  }
}


/**
 * Title
 */

.ola-facet-title{
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  margin: 0;
  border-bottom: 1px #e5e5e5 solid;
  padding: 12px 14px;
  line-height: 1;
  font-size: 20px;
  color: #333;

  &:before{
    @extend .iconfont;
    content: "remove_circle_outline";
    margin-right: 0em;
    font-size: 18px;
    vertical-align: top;
    margin-top: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
    color: #444;
  }

  .ola-facet-collapsed &{
      &:before{
        content: "add_circle_outline";
      }
  }
}


/**
 * Facet
 */

.ola-facet{
  padding-bottom: 2em;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  border-top: 2px solid #666;
  padding: 0;

  &.ola-facet-collapsed{
    .ola-facet-wrapper{
      display: none;
    }
  }
}

/**
 * Body
 */

.ola-facet-wrapper {
  padding: 14px;
}


/**
 * Input
 */

.ola-facet-filter-input{
    width: 100%;
    background: white;
  border: 1px #ddd solid;
    margin-bottom: 1em;
    font-size: 14px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/**
 * Facet overflow contianer
 */

.ola-facet-scroll-list{
    max-height: 250px;
    overflow: auto;
    margin-bottom: 0.25em;
}


/* Show more link */

.ola-link-show-more{    
    color: #333;
}


/**
 * Ola facet links
 */

.ola-facet-link{
    background: none;
    padding: 0;
    // color: $link-color;
    display: block;
    border: none;
    @include font-size(14px, false);
    width: 100%;
    text-align: left;
    padding: 3px 0;
    clear: both;
    margin: 0;
}


/**
 * facet
 */

.ola-facet-h-group-inner {
  padding-left: 15px;

  .ola-checkbox {
    &:before {
      content: "\f3d2";
      font-family: "Ionicons";
      display: inline-block;
      vertical-align: top;
      margin-right: 8px;
      margin-top: 1px;
      width: 0;
      display: none;
    }
  }

  .ola-checkbox-active {
    // font-weight: bold;
    color: $brand-color;
    // display: none;
    &:before {
      display: block;
      margin-right: 15px;
    }
  }
}
  .ola-facet-checkbox-selected {
    &:before {
      @extend .iconfont;
      content: 'keyboard_arrow_left';
      display: inline-block;
      vertical-align: top;
      margin-right: 12px;
      margin-top: 1px;
      width: 0;
    }
  }
  .ola-facet-checkbox-selected-heading {
    font-weight: bold;
    font-size: 14px;
  }

  .ola-facet-list > .ola-facet-scroll-list > .ola-facet-h-group > .ola-facet-h-group-inner,
  .ola-facet-list > .ola-facet-h-group > .ola-facet-h-group-inner{
    padding-left: 0;
  }


  /**
   * Not rollup
   */
  .ola-facet-not-rollup {
    .ola-facet-h-group-inner .ola-checkbox-active{
      &:before{
        display: none;
      }
    }
  }

/**
 * Filter
 */

.ola-facet-filter-input {
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }
}



.ola-facet-tag {
  position: relative;
}