/**
 * Module
 */

.ola-module{
  color: $base-color;
  border-radius: 0px;
  background-color: #fff;
  border: 1px #ccc solid;
  box-shadow: $small-box-shadow;
  text-align: left;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 201;
}

  .ola-module-title{
    font-weight: 600;
    background: #eee;
    border-bottom: 1px #ddd solid;
    padding: 8px 1em;
    border-radius: 2px 2px 0 0;
  }

  .ola-module-body{
    max-height:400px;
    overflow: auto;
    padding: 0 1em;
  }

  .ola-module-item{
    padding: 1em;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    padding-right: 40px;

    .ola-search-facet-count{
      margin: 0 0.5em;
      float: right;
    }
  }

  .ola-module-clear{
    position: absolute;
    right: 0;
    top: 1em;
    border: none;
    padding: 0;
    margin: 0;
    background: none;

    &:before{
      @extend .iconfont;
      content: 'close';
      font-size: 1em;
      vertical-align: middle;
    }

    span {
      font-size: 0;
    }
  }

  .ola-module-item-history {
    padding: 5px 1em;
  }