.ola-pagination{
  padding: 2em 0;
}

  .ola-page{
    display: inline-block;
    padding: 5px 10px;
    vertical-align: top;
    text-decoration: none;
    vertical-align: middle;
    display: none;
    background: none;
    border: none;
    color: #002569;

    @include media(tablet){
      display: inline-block;
    }
  }

  .ola-page-ellipsis{
    color: $base-color;
    cursor: text;
  }

  /**
   * Current page
   */

  .ola-page-current{
    background: $brand-color;
    color: #fff;
  }

  /**
   * Previous
   */

  .ola-page-previous{
    display: inline-block;
    &:before{
      @extend .iconfont;
      content: "keyboard_arrow_left";
      margin-right: 0.5em;
      margin-top: -2px;
      vertical-align: middle;
    }
    margin-right: 1em;
  }

  .ola-page-next{
    float: right;
    margin-left: 1em;
    display: inline-block;
    @include media(tablet){
      float: none;
    }
    &:after{
      @extend .iconfont;
      content: "keyboard_arrow_right";
      margin-left: 0.5em;
      margin-top: -2px;
      vertical-align: middle;
    }
  }


/* Disable */

.ola-page-disabled{
  opacity: 0.1;
}