.ola-autosuggest-container{
	position: relative;	
	text-align: left;

	@include media(tablet){
		display: inline-block;
	}
}

	.ola-suggestions{
		background: #fff;
		box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
		border: 1px $base-ui-color solid;
		border-radius: 5px;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 1;
		margin-top: 1px;

		.ola-spell-suggestions{
			padding: 1em;
		}		
	}

	.ola-suggestions-wrapper{
		max-height: 400px;
		overflow: auto;
	}



	

/**
 * View all link
 */

.ola-autosuggest-all{
	background-color: #ffa01a;
	color: $base-color;
	display: block;
	padding: 0.8em 1em;
	text-align: center;
	text-decoration: none;
	border-radius: 0 0 5px 5px;
}


/**
 * Style snippets
 */

.ola-autosuggest{
	.ola-snippet{
		margin-bottom: 0;
		background-color: transparent;
		padding-left: 1em;
		padding-right: 1em;

		&:hover{
			background-color: #eee;
		}
	}
	.ola-snippet-image{
		width: 54px;		

		img{
			max-width: 100%;
			margin-bottom: 0;
		}
	}

	p{
		margin-bottom: 0;
	}

	.ola-field-title{
		font-size: $base-font-size;
	}
}