.ola-bookmarks-container, .ola-history-container{
	
	.ola-module{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 2;
		border-radius: 5px;
	}	

	.ola-snippet-image{
		width: 54px;		

		img{
			max-width: 100%;
			margin-bottom: 0;
		}
	}

	.ola-snippet{
		margin-bottom: 0;
		background-color: transparent;
	}

	.ola-field-title{
		font-size: $base-font-size;
	}
}

	/**
	 * Link
	 */
	
	.ola-link-bookmark, .ola-link-history{
		position: absolute;
		right: 50px;
		width: 30px;
		top: 0;
		line-height: 52px;
		text-align: center;
		background: none;
		border: none;
		padding: 0;
		bottom: 0;

		@include media(tablet){
			right: 58px;
		}
	}


	.ola-link-history{
		right: 90px;

		@include media(tablet){
			right: 100px;
		}
	}


	