.ola-guide{	
	background: $brand-color;
	color: #fff;
	display: table;
	width: 100%;
	overflow: auto;
	padding-left: 1em;
	padding-right: 1em;

	.ola-guide{
		padding-left: 0;
		padding-right: 0;
	}
	
	.ola-guide-valign{
		display: table-cell;

		@include media(tablet){
			vertical-align: middle;
		}
	}

	.ola-guide-body{
		display: table-cell;
		vertical-align: top;
		padding-top: 2em;
	}

	.ola-logo{
		@include media(tablet){
			// margin-top: -10%;
		}
	}

	.ola-spell-suggestions{
		a{
			font-weight: bold;
			color: $brand-color;
			display: inline;
		}
	}
}

	/**
	 * Section
	 */
	
	.ola-guide-section{
		max-width: 600px;
		margin: 1em auto;
		color: $base-color;
	}

	/**
	 * Title
	 */
	
	.ola-guide-section-title{
		color: white;
	}



/**
	 * Inside dark area
	 */
	
	.ola-guide-section, .ola-header-section {
		.ola-text-input, 
		.ola-textarea, 
		.ola-suggestions{
			border-color: darken($brand-color, 50%);
		}

		.ola-text-input{
			// box-shadow: $base-box-shadow;
		}
	}


	/**
	 * Guide bottom
	 */
	
	.ola-guide-row{
		display: table-row;
		height: 50px;
		text-align: center;

		a{
			color: white;
			border-left: 1px white solid;
			padding: 0 1em;

			&:first-child{
				border-left: none;
			}
		}

	}


/* Tagline */

.ola-tagline{
	text-align: center;
	padding-top: 0.5em;
}