/**
	 * Module
	 */
	
	.ola-module{
		color: $base-color;
	}

		.ola-module-title{
			font-weight: bold;
			background: #eee;
			border-bottom: 1px #ddd solid;
			padding: 8px 1em;
			border-radius: 5px 5px 0 0;
		}

		.ola-module-body{
			max-height:400px;
			overflow: auto;
		}

		.ola-module-item{
			padding: 8px 1em;	
			position: relative;
			text-decoration: none;
			overflow: hidden;
			padding-right: 40px;

			.ola-module-clear{
				position: absolute;
				right: 1em;
				top: 0px;
			}
			
			.ola-search-facet-count{
				margin: 0 0.5em;
				float: right;
			}
		}
