.ola-snippet-rating{
	font-size: 18px;
	margin-bottom: 0.5em;
	// float: right;
	// margin-left: 1em;
	
}

/**
 * Star
 */
.ola-rating-active{
	color: red;
}

/**
 * Inactive
 */
.ola-rating-inactive{
	color: #333;
}


/**
 * Histograms
 */

.ola-histogram{
	justify-content: space-around;
	height: 50px;
	flex-flow: row;	
	display: flex;
	align-items: flex-end;

	.ola-histogram-bar{
		background: hsla(100,5%,62%,.5);
		flex: 1
	}
}