.ola-spell-suggestion{
	font-size: 14px;	
	padding: 0.5em 0;

	.ola-header-section &{
		padding-top: 1em;
		&, a{
			color: #fff;
		}
	}

	.ola-autosuggest &{
		color: $base-color;
		padding: 0.5em 1em;

		a{
			color: $base-color;			
		}
	}

	a{
		text-decoration: underline;
		margin: 0 5px;
	}
}

/**
 * Term suggestions
 */

.ola-term-suggestion{

	.ola-autosuggest &{
		padding: 0.5em 1em;
	}
}


/**
 * Links
 */

.ola-spell-links{
	color: $link-color;
	padding: 0;
	background: none;
	border: none;
	margin: 0 0.5em;
	text-decoration: underline;
}


/**
 * Ola spell count
 */

.ola-spell-count{
	&:before{
		content: "("
	}

	&:after{
		content: ")"
	}
}