.ola-tabs{	
	margin-bottom: 1em;
	border-bottom: 5px #999 solid;
	white-space: nowrap;
	overflow: hidden;
	clear: both;
	display: none;
	@include media(desktop){
		display: block;
	}
}

	.ola-tabs-label{
		position: relative;
		display: inline-block;
		vertical-align: top;
		min-width: 100px;
		text-align: center;
		color: $base-color;

		input{
			opacity: 0;
			position: absolute;			
		}

		padding: 12px 0.8em;
		border-radius: 5px 5px 0 0;
		background: #eee;
		margin-right: 1px;

		.ola-search-facet-count{
			margin-left: 8px;			
		}
	}


	/**
	 * Active tab
	 */
	.ola-tab-active{
		background-color: #999;
		color: #fff;
	}