

.ola-search-heading{
	font-weight: normal;
	@include font-size(30px, false);
	margin-bottom: 0;
	line-height: 1;

	@include media(tablet){
		margin-bottom: 10px;
	}

	> small{
		color: $color-grey;
		font-size: 16px;

		display: block;
		@include media(tablet){
			display: inline;
		}
	}
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', sans-serif;
}


/**
 * h2, 
 */

h2, h3, h4{
	margin-bottom: 0.5em;
}