/**
 * Search button
 */
.ola-search-button, .ola-clear-button{
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50px;
	line-height: 52px;
	font-size: 26px;
	color: $base-color;
	text-align: center;
	padding:0;

	@include media(tablet){
		width: 60px;
	}

	&:before{
		@extend .ion;
		content: "\f4a5";
	}
}

	/**
	 * Clear button
	 */
	
	.ola-clear-button{
		font-size: 32px;
		&:before{
			content: "\f404";
		}
	}

/**
 * Ola buttons
 */

.ola-btn{
	background: #fff;
	border-radius: 20px;
	padding: 8px 1em;
	margin-bottom: 1em;
	cursor: pointer;
	border: 1px white solid;

	&:hover{
		border-color: $link-color;		
	}
}

	/**
	 * Button full
	 */
	
	.ola-btn__full{
		width: 100%;
		display: block;
		text-align: center;
	}


/**
 * Primary
 */

.ola-btn-primary{
	background-color: #303E9F;
	color: $base-color;
	border-color: #303E9F;
	color: #fff;

	&:hover{
		border-color: darken(#303E9F, 10%);		
	}
}